---
import '../index.css';
import { Font } from 'astro:assets';
import { GlobalFooter } from '@components/GlobalFooter/GlobalFooter';
import { FooterLocal } from '@components/FooterLocal';

interface Props {
  title?: string;
  footerHeading?: string;
  footerButtonHref?: string;
  footerButtonLabel?: string;
  footerActiveLabel?: string;
}

const {
  title = "Stanford Web Services",
  footerHeading = "We’d love to hear about what you’re working on.",
  footerButtonHref = "#",
  footerButtonLabel = "Connect with us",
  footerActiveLabel,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-serif" />
    <Font cssVariable="--font-sans" />
    <Font cssVariable="--font-stanford" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <FooterLocal
      heading={footerHeading}
      buttonHref={footerButtonHref}
      buttonLabel={footerButtonLabel}
      activeLabel={footerActiveLabel}
    />
    <GlobalFooter />
  </body>
</html>
